﻿@model IEnumerable<GameStore.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td>
                Name
            </td>
        </tr>
    </thead>
    <tbody>

        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @customer.Name
                </td>
            </tr>
        }
        </tbody>

    </table>
